.header-bg {
    height: 150px;
    background-color: #212929;
}

.logo {
    width: 180px;
    margin-bottom: 10px;
}

.header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px 20px 20px 20px;
    border-radius: 4px;
    margin-top: -110px;
    margin-bottom: -10px;
    background-color: #fff;
}

.input {
    width: 100%;
    color: #000;
    font-size: 1.1rem;
    border-bottom: 1px solid #000;
    background: transparent;
    --highlight-color: trasparent;
}

.modal-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
}

.calendario {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    border-radius: 4px;
    background-color: #fff;
}

ion-datetime {
    color: #000;
    --text-transform: capitalize;
    --background: transparent;
    --title-color: #fff;
    --wheel-fade-background-rgb: transparent;
    --wheel-highlight-background: transparent;
}

.botoes {
    display: flex;
    justify-content: space-around;
    background: transparent;
}

.botoes ion-button {
    color: #000;
    font-weight: bold;
    --box-shadow: none;
    --border-radius: 2px;
    --background: transparent;
}

.data {
    width: 100%;
    text-transform: lowercase;
    font-size: 1.1rem;
    font-weight: normal;
    margin-top: 7px;
    height: 50px;
    --border-radius: 0;
    --box-shadow: 0;
    --background: transparent;
}

.botao {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    --box-shadow: 0;
    --border-radius: 2px;
    --background: #212929;
}