.header-bg {
    height: 140px;
    background-color: #212929;
}

.titulo {
    font-family: 'Bebas Neue';
    color: #212929;
    font-weight: bold;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: -16px;
}

.header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 8px;
    border-radius: 4px;
    margin-top: -100px;
    margin-bottom: -20px;
    background-color: #fff;
}

.input {
    width: 100%;
    color: #000;
    font-size: 1.1rem;
    border-bottom: 1px solid #000;
    background: transparent;
    --highlight-color: trasparent;
}

.modalData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
}

.calendario {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    border-radius: 4px;
    background-color: #fff;
}

ion-datetime {
    color: #000;
    --background: transparent;
    --title-color: #fff --wheel-fade-background-rgb: transparent;
    --wheel-highlight-background: transparent;
}

.botoes {
    display: flex;
    justify-content: space-around;
    background: transparent;
}

.botoes ion-button {
    width: 140px;
    height: 50px;
    color: #000;
    font-weight: bold;
    --box-shadow: none;
    --border-radius: 2px;
    --background: transparent;
}

.data {
    width: 100%;
    text-transform: lowercase;
    font-size: 1.1rem;
    margin-top: 7px;
    height: 50px;
    --border-radius: 0;
    --box-shadow: 0;
    --background: transparent;
}

.botao {
    width: 94%;
    height: 45px;
    --box-shadow: 0;
    --border-radius: 2px;
    --background: #212929;
}