<div class="header-bg"></div>
<div class="header">
  <h1 class="titulo">Eventos</h1>

  <ion-input
    type="text"
    label="Título"
    labelPlacement="floating"
    placeholder="O que aconteceu?"
    class="input"
    [(ngModel)]="titulo"
  />

  <ion-input
    type="text"
    label="Data"
    labelPlacement="floating"
    placeholder="dd/mm/aaaa"
    (input)="formatarData($event)"
    class="input"
    [(ngModel)]="data"
  />

  <ion-button class="botao" (click)="adicionar()">Adicionar</ion-button>
</div>
