<div class="lista">
  <h3 class="titulo">Eventos recentes</h3>

  <ion-list>
    <ion-item-sliding
      *ngFor="let evento of listaEventos; let i = index"
      class="itemSlide"
    >
      <ion-item class="itemLista">
        <ion-label class="textoEvento">
          <p class="data">{{ evento.data }}</p>
          <p class="evento">{{ evento.titulo }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option (click)="editar(evento)" class="botaoAcoes">
          <ion-icon name="create-outline" />
        </ion-item-option>
        <ion-item-option color="danger" (click)="excluir(i)" class="botaoAcoes">
          <ion-icon name="trash-outline" />
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div>

<ion-modal [isOpen]="modal">
  <ng-template>
    <ion-content>
      <div class="container">
        <div class="header">
          <h1 class="titulo edicao">Editar</h1>

          <ion-input
            type="text"
            label="Título"
            labelPlacement="floating"
            placeholder="O que aconteceu?"
            class="input"
            [(ngModel)]="titulo"
          />

          <ion-input
            type="text"
            label="Data"
            labelPlacement="floating"
            placeholder="dd/mm/aaaa"
            (input)="formatarData($event)"
            class="input"
            [(ngModel)]="data"
          />

          <ion-button class="botao" (click)="salvarEdicao()">Editar</ion-button>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
