* {
    color: #000;
}

.container {
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logotipo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logotipo-icon {
    width: 38%;
    margin-bottom: 5px;
}

.logotipo-title {
    margin: 0;
    color: #3F3D56;
    font-size: 2.8rem;
    font-weight: bold;
    font-family: 'Lexend', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.logotipo-subtitle {
    margin: 0;
    font-size: .9rem;
    font-family: 'Lexend', sans-serif;
}


.input-group {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group ion-input {
    position: relative;
    margin: 0 auto;
    height: 60px;
    width: 85%;
    text-align: center;
    font-size: 1.1rem;
    border: none;
    background: #f0f0f0;
    margin-bottom: 10px;
    --highlight-color-focused: #3F3D56;
    --highlight-color-valid: #3F3D56;
    --highlight-color-invalid: #3F3D56;
}

.input-group ion-icon {
    color: #3F3D56;
    position: absolute;
    font-size: 1.4rem;
    padding-left: 20px;
}

.forget-password {
    margin-top: 0px;
    font-size: 1rem;
    margin-left: 30px;
    margin-bottom: 18px;
}

.btn-group {
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

ion-button {
    height: 50px;
    width: 100%;
    --border-radius: 2px;
    --box-shadow: 0;
}


.signin-btn {
    color: #FFF;
    --background: #3F3D56;
}

.signup-btn {
    --background: #f0f0f0;
}


// ********** MEDIA QUERIES **********

// TABLETS

@media screen and (min-width:768px) {

    .logotipo-icon {
        width: 40%;
    }

    .logotipo-title {
        font-size: 3.8rem;
    }

    .logotipo-subtitle {
        font-size: 1.4rem;
    }

    .input-group ion-input {
        width: 70%;
        height: 68px;
        font-size: 1.4rem;
    }

    .input-group ion-icon {
        font-size: 1.8rem;
    }

    .forget-password {
        margin-top: 10px;
        font-size: 1.2rem;
        margin-left: 120px;
    }

    .btn-group {
        width: 70%;
    }

    ion-button {
        height: 60px;
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

}

// DESKTOPS

@media screen and (min-width:1024px) {

    .logotipo-icon {
        width: 28%;
    }

    .logotipo-title {
        font-size: 3rem;
    }

    .logotipo-subtitle {
        font-size: 1.2rem;
    }

    .input-group ion-input {
        width: 40%;
        height: 58px;
        font-size: 1.2rem;
    }

    .input-group ion-icon {
        font-size: 1.6rem;
    }

    .forget-password {
        margin-top: 10px;
        font-size: 1.1rem;
        margin-left: 30%;
    }

    .btn-group {
        width: 40%;
    }

    ion-button {
        height: 54px;
        font-size: 1rem;
        margin-bottom: 5px;
    }

}