<ion-content [fullscreen]="true">

  <div class="container">

    <div class="logotipo">

      <ion-img src="../../../assets/icon-logo.png" class="logotipo-icon" />
      <h1 class="logotipo-title">Moments</h1>

      <p class="logotipo-subtitle">Registre seus momentos mais marcantes!</p>

    </div>

    <div class="input-group">

      <ion-input labelPlacement="stacked" placeholder="E-mail" type="email">
        <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
      </ion-input>

      <ion-input labelPlacement="stacked" placeholder="Senha" type="password">
        <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
      </ion-input>

      <a href="#" class="forget-password">Esqueceu a senha?</a>

    </div>

    <div class="btn-group">

      <ion-button class="signin-btn">Entrar</ion-button>
      <ion-button class="signup-btn">Criar Conta</ion-button>

    </div>


  </div>

</ion-content>