/* Container principal que ocupa toda a altura da tela */
.main-container {
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Formulário principal */
.main-form {
    width: 90%;
    padding: 20px;
}

/* Header do formulário */
.form-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Imagem do header do formulário */
.form-header-image {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 0;
}

/* Título do header do formulário */
.form-header-title {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
    font-size: 2.6rem;
    letter-spacing: 2px;
    font-family: 'Bebas Neue';
}

/* Grupo de inputs do formulário */
.form-input-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Input de título do formulário */
.input-title,
.input-date {
    color: #000;
    margin: 0 auto;
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    background: #f0f0f0;
    margin-bottom: 10px;
    --highlight-color-focused: #3F3D56;
    --highlight-color-valid: #3F3D56;
    --highlight-color-invalid: #3F3D56;
}

/* Input de data do formulário */
.input-date {
    width: 100%;
    text-transform: lowercase;
    font-size: 1.1rem;
    font-weight: normal;
    margin-top: 7px;
    height: 56px;
    --border-radius: 4px;
    --box-shadow: 0;
    --background: transparent;
}

/* Grupo de botões do formulário */
.form-buttons-group {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Estilos dos botões dentro do grupo de botões do formulário */
.form-button {
    width: 100%;
    height: 56px;
    margin: 0;
    margin-bottom: 5px;
    --box-shadow: 0;
    --border-radius: 4px;
}

/* Botão de adicionar */
.button-add {
    --background: #212929;
}

/* Botão de cancelar */
.button-cancel {
    width: 100%;
    height: 45px;
    color: #000;
    --box-shadow: 0;
    --border-radius: 2px;
    --background: #f0f0f0;
}

/* Container do modal de data */
.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
}

/* Calendário dentro do modal */
.modal-calendar {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    border-radius: 4px;
    background-color: #fff;
}

/* Estilos do ion-datetime */
ion-datetime {
    color: #000;
    --text-transform: capitalize;
    --background: transparent;
    --title-color: #fff;
    --wheel-fade-background-rgb: transparent;
    --wheel-highlight-background: transparent;
}


/* Container de botões dentro do modal */
.modal-button-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    background: transparent;
}

/* Estilos dos botões dentro do container de botões do modal */
.modal-button-group ion-button {
    color: #000;
    font-weight: bold;
    --box-shadow: none;
    --border-radius: 2px;
    --background: transparent;
}