<ion-content [fullscreen]="true">

  <div class="container">

    <form #f="ngForm" (ngSubmit)="salvarAdicao(f)" class="form">

      <div class="form-header">

        <ion-img src="../../../assets/images/polaroids.png" class="form-header-img" />

        <h1 class="form-header-title">
          {{ formType === 'adicionar' ? 'Adicionar Moment' : 'Editar Moment' }}
        </h1>

      </div>

      <div class="form-group">

        <ion-input type="text" placeholder="Qual momento deseja registrar?" class="input-title" [(ngModel)]="titulo"
          name="titulo" />

        <ion-button class="input-date" (click)="selecionarData()" id="date" [(ngModel)]="date" name="date">
          {{ date ? (date | date:'dd/MM/yyyy') : 'dd/mm/yyyy' }}
        </ion-button>

      </div>

      <div class="form-buttons">

        <ion-button class="add-button" type="submit">
          {{ formType === 'adicionar' ? 'Adicionar' : 'Salvar Edição' }}
        </ion-button>

        <ion-button class="cancel-button" (click)="cancelar()">
          Cancelar
        </ion-button>

      </div>

    </form>

  </div>

</ion-content>

<!-- MODAL PARA SELECIONAR DATA -->

<ion-modal [isOpen]="modalIsOpen" trigger="date">
  <ng-template>
    <div class="modal-data">
      <div class="calendario">

        <ion-datetime presentation="date" [(ngModel)]="dataAtual" />

        <div class="botoes">

          <ion-button (click)="cancelar()">Cancelar</ion-button>
          <ion-button (click)="salvarData()">Salvar</ion-button>

        </div>

      </div>
    </div>
  </ng-template>
</ion-modal>