<ion-content [fullscreen]="true">

  <div class="main-container">

    <form #form="ngForm" (ngSubmit)="tipoFormulario === 'adicionar' ? salvarAdicao(form) : salvarEdicao(form)"
      class="main-form">

      <div class="form-header">

        <ion-img src="../../../assets/images/polaroids.png" class="form-header-image" />
        <h1 class="form-header-title">
          {{ tipoFormulario === 'adicionar' ? 'Adicionar Moment' : 'Editar Moment' }}
        </h1>

      </div>

      <div class="form-input-group">

        <ion-input type="text" placeholder="Qual momento deseja registrar?" class="input-title" [(ngModel)]="titulo"
          name="titulo" />

        <ion-button class="input-date" (click)="selecionarData()" id="date" [(ngModel)]="dataSelecionada" name="date">
          {{ dataSelecionada ? (dataSelecionada | date:'dd/MM/yyyy') : 'dd/mm/yyyy' }}
        </ion-button>

      </div>

      <div class="form-button-group">

        <ion-button class="button-add" type="submit">
          {{ tipoFormulario === 'adicionar' ? 'Adicionar' : 'Salvar Edição' }}
        </ion-button>

        <ion-button class="button-cancel" (click)="cancelar()">
          Cancelar
        </ion-button>

      </div>

    </form>
  </div>

</ion-content>


<!-- MODAL PARA SELECIONAR DATA -->
<ion-modal [isOpen]="modalAberto" trigger="date">
  <ng-template>

    <div class="modal-container">
      <div class="modal-calendar">

        <ion-datetime presentation="date" [(ngModel)]="dataAtualISO" />

        <div class="modal-button-group">
          <ion-button (click)="cancelar()">Cancelar</ion-button>
          <ion-button (click)="salvarData()">Salvar</ion-button>
        </div>

      </div>
    </div>

  </ng-template>
</ion-modal>