<ion-content [fullscreen]="true">

  <main class="container">


    <div class="header-bg"></div>

    <!-- USER HEADER -->
    <div class="user-header" (click)="abrirModalUsuario()">

      <div class="user-box">

        <p class="user-name">{{ usuarioLogado }}</p>
        <ion-icon name="chevron-down-outline" class="user-icon"></ion-icon>

      </div>

    </div>

    <!-- HEADER ADD MOMENT -->
    <div class="header-add-box">

      <div class="header-add-logotipo">
        <img src="../../../assets/identidade-visual/icon.png" alt="logo" class="header-add-icon">
        <h1 class="header-add-title">moments</h1>
      </div>

      <ion-button class="header-add-btn" (click)="adicionar()">
        Adicionar Moment
      </ion-button>

    </div>

    <div class="container-list">

      <div *ngIf="moments.length; else nenhumMoment">

        <h3 class="title">Moments Recentes</h3>

        <ion-input class="search-bar" labelPlacement="stacked" placeholder="Buscar Moments" type="text"
          [(ngModel)]="searchInput" (ionInput)="searchMoments($event)">
          <ion-icon slot="start" name="search-outline" aria-hidden="true"></ion-icon>
        </ion-input>

      </div>

      <ng-template #nenhumMoment>

        <h3 class="title">Moments Recentes</h3>

        <ion-input class="search-bar" labelPlacement="stacked" placeholder="Buscar Moments" type="text"
        [(ngModel)]="searchInput" (ionInput)="searchMoments($event)">
        <ion-icon slot="start" name="search-outline" aria-hidden="true"></ion-icon>
      </ion-input>

        <h3 class="title not-moments">
          Nenhum Momento Registrado
        </h3>

      </ng-template>

      <ion-list>

        <ion-item-sliding *ngFor="let moment of moments;" class="slide-item">

          <ion-item class="list-item">

            <ion-label class="label-moment">

              <p class="date-moment">{{ moment.data | date:'dd/MM/yyyy' }}</p>
              <p class="title-moment">{{ moment.titulo }}</p>

            </ion-label>

          </ion-item>

          <ion-item-options>

            <ion-item-option (click)="editar(moment)" class="action-btn">
              <ion-icon name="create-outline" />
            </ion-item-option>

            <ion-item-option color="danger" (click)="excluir(moment.id)" class="action-btn">
              <ion-icon name="trash-outline" />
            </ion-item-option>

          </ion-item-options>

        </ion-item-sliding>

      </ion-list>

    </div>

  </main>

</ion-content>