.container {
    height: 100vh;
    background: #e5e5e5;
}

.header-bg {
    height: 140px;
    background: #212129;
}

// HEADER USUÁRIO LOGADO

.user-header {
    cursor: pointer;
    margin-top: -130px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon {
    margin: 0;
    font-size: 1.2rem;
}

.user-name {
    font-size: 1.1rem;
    margin: 4px 10px;
}

.user-box {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

// HEADER ADD MOMENT

.header-add-moment {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
    border-radius: 4px;
    background: #fff;
}

.logotipo {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logotipo-icon {
    width: 18%;
}

.logotipo-title {
    margin: 0;
    margin-top: 5px;
    color: #3F3D56;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lexend', sans-serif;
}

.add-moment-btn {
    width: 100%;
    height: 45px;
    --box-shadow: 0;
    --border-radius: 2px;
    --background: #212929;
}

.container-list {
    margin: 0 auto;
    padding: 20px;
}

.title {
    margin-top: 0px;
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
}

.search-bar {
    margin-bottom: 20px;
    color: #000;
    font-size: 1.1rem;
    --padding-start: 15px;
    --box-shadow: none;
    border-radius: 4px;
    background: #fff;
    --highlight-color-focused: #3F3D56;
    --highlight-color-valid: #3F3D56;
    --highlight-color-invalid: #3F3D56;
}

.search-bar ion-icon {
    color: #979797;
    font-size: 1.4rem;
}

.not-moments {
    font-size: 1rem;
    text-align: center;
    margin-top: 180px;
}

ion-list {
    margin-top: -6px;
    background: transparent;
}

.slide-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    background-color: #fff;
}

.list-item {
    width: 100%;
    --border-color: transparent;
    --border-radius: 0px;
    --background: #fff;
}

.label-moment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-moment {
    color: #979797;
    font-size: .9rem;
    margin-bottom: 10px;
}

.title-moment {
    color: #000;
    font-size: 1.1rem;
    text-wrap: wrap;
}

.action-btn {
    width: 60px;
    font-size: 1.6rem;
}