ion-content {
    height: 100dvh !important;
}

.container {
    height: auto;
    min-height: 100dvh;
    background: #e5e5e5;
}

.header-bg {
    height: 140px;
    background: #212129;
}

// SEÇÃO USER LOGADO

.user-header {
    cursor: pointer;
    margin-top: -130px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon {
    margin: 0;
    font-size: 1.2rem;
}

.user-name {
    font-size: 1.1rem;
    margin: 4px 10px;
}

.user-box {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


// SEÇÃO MOMENT ADD

.header-add-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
    border-radius: 4px;
    background: #fff;
}

.header-add-logotipo {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header-add-icon {
    width: 18%;
}

.header-add-title {
    margin: 0;
    margin-top: 5px;
    color: #3F3D56;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lexend', sans-serif;
}

.header-add-btn {
    width: 100%;
    height: 50px;
    --box-shadow: 0;
    --border-radius: 2px;
    --background: #212929;
}


// SEÇÃO LISTA

.container-list {
    margin: 0 auto;
    padding: 20px;
}

.title {
    margin-top: 0px;
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
}

.search-bar {
    color: #000;
    font-size: 1.1rem;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    --box-shadow: none;
    --padding-start: 15px;
    --highlight-color-valid: #3F3D56;
    --highlight-color-focused: #3F3D56;
    --highlight-color-invalid: #3F3D56;
}

.search-bar ion-icon {
    color: #979797;
    font-size: 1.4rem;
}

.not-moments {
    font-size: 1rem;
    text-align: center;
    margin-top: 180px;
}

ion-list {
    background: transparent;
}

.slide-item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    background-color: #fff;
}

.list-item {
    width: 100%;
    --border-color: transparent;
    --border-radius: 0px;
    --background: #fff;
}

.label-moment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-moment {
    color: #979797;
    font-size: .9rem;
    margin-bottom: 10px;
}

.title-moment {
    color: #000;
    font-size: 1.1rem;
    text-wrap: wrap;
}

.action-btn {
    width: 60px;
    font-size: 1.6rem;
}



// ********** MEDIA QUERIES **********

// TABLETS

@media screen and (min-width:768px) {

    .header-bg {
        height: 200px;
    }

    .user-box {
        margin-top: -70px;
    }

    .user-name {
        font-size: 1.6rem;
    }

    .user-icon {
        font-size: 2rem;
    }

    .user-header {
        margin-bottom: 0;
    }

    // SEÇÃO MOMENT ADD 

    .header-add-icon {
        width: 16%;
    }

    .header-add-title {
        font-size: 4rem;
    }

    .header-add-btn {
        height: 80px;
        font-size: 1.2rem;
    }


    // SEÇÃO LISTA DE MOMENTS

    .container-list {
        padding: 0 40px;
    }

    .title {
        margin-top: 25px;
        font-size: 1.6rem;
        margin-bottom: 15px;
    }

    .search-bar {
        height: 70px;
        font-size: 1.4rem;
        --padding-start: 20px;
    }

    .search-bar ion-icon {
        font-size: 1.8rem;
    }

    .slide-item {
        margin-bottom: 15px;
    }

    .label-moment {
        padding: 15px 10px;
    }

    .date-moment {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .title-moment {
        font-size: 1.8rem;
    }

    .action-btn {
        width: 100px;
    }

    .action-btn ion-icon {
        font-size: 2.4rem;
    }

}


// DESKTOP

@media screen and (min-width:1024px) {

    .header-bg {
        height: 200px;
    }

    .user-box {
        margin-top: -70px;
    }

    .user-name {
        font-size: 1.4rem;
    }

    .user-icon {
        font-size: 1.6rem;
    }

    .user-header {
        margin-bottom: 0;
    }

    // SEÇÃO MOMENT ADD 


    .header-add-box{
        width: 85%;
    }

    .header-add-icon {
        width: 12%;
    }

    .header-add-title {
        font-size: 3rem;
    }

    .header-add-btn {
        height: 60px;
        font-size: 1rem;
    }


    // SEÇÃO LISTA DE MOMENTS

    .container-list {
        padding: 0;
        width: 85%;
    }

    .title {
        margin-top: 35px;
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .search-bar {
        height: 50px;
        font-size: 1.2rem;
        --padding-start: 20px;
    }

    .search-bar ion-icon {
        font-size: 1.5rem;
    }

    .slide-item {
        margin-bottom: 15px;
    }

    .label-moment {
        padding: 5px;
    }

    .date-moment {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .title-moment {
        font-size: 1.4rem;
    }

    .action-btn {
        width: 80px;
    }

    .action-btn ion-icon {
        font-size: 1.6rem;
    }

}