<ion-content [fullscreen]="true">

  <main class="container">

    <div class="header-bg"></div>

    <div class="header-add">

      <img src="../../../assets/logo.png" alt="logo" class="logo">

      <ion-button class="botao" (click)="novoMoment()">Novo Moment</ion-button>

    </div>

    <div class="box-lista">

      <div *ngIf="moments.length; else nenhumMoment">

        <h3 class="titulo">Moments Recentes</h3>

        <ion-searchbar class="searchBar" placeholder="Buscar Moments" [(ngModel)]="search"
          (ionInput)="searchInput($event)" />

      </div>

      <ng-template #nenhumMoment>

        <h3 class="titulo semMoments">
          Nenhum Momento Registrado
        </h3>

      </ng-template>

      <ion-list>

        <ion-item-sliding *ngFor="let moment of moments;" class="item-slide">

          <ion-item class="item-lista">

            <ion-label class="label-moment">
              <p class="data-moment">{{ moment.data | date:'dd/MM/yyyy' }}</p>
              <p class="titulo-moment">{{ moment.titulo }}</p>
            </ion-label>

          </ion-item>

          <ion-item-options>

            <ion-item-option (click)="editar(moment)" class="botao-acoes">
              <ion-icon name="create-outline" />
            </ion-item-option>

            <ion-item-option color="danger" (click)="excluir(moment.id)" class="botao-acoes">
              <ion-icon name="trash-outline" />
            </ion-item-option>

          </ion-item-options>

        </ion-item-sliding>

      </ion-list>

    </div>

    <ion-modal [isOpen]="modal">
      <ng-template>
        <ion-content>

          <div class="container-edicao">

            <div class="header">

              <h1 class="titulo edicao">Editar</h1>

              <ion-input type="text" class="input" [(ngModel)]="titulo" />

              <ion-button class="input date" (click)="selecionarData()">{{ data }}</ion-button>

              <ion-modal [isOpen]="modalDate">
                <ng-template>
                  <div class="modal-data">

                    <div class="calendario">
                      <ion-datetime id="datetime" presentation="date" [(ngModel)]="dataAtual" />

                      <div class="botoes">
                        <ion-button (click)="modalData(false)">Cancelar</ion-button>
                        <ion-button (click)="salvarData()">Salvar</ion-button>
                      </div>
                    </div>

                  </div>
                </ng-template>
              </ion-modal>

              <ion-button class="botao" (click)="salvarEdicao()">Editar</ion-button>

            </div>

          </div>

        </ion-content>
      </ng-template>
    </ion-modal>
  </main>
</ion-content>