<ion-content [fullscreen]="true">
  <div class="login">
    <form
      class="login__form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <ion-text class="login__title">
        Entrar
      </ion-text>

      <app-input-field
        name="email"
        type="email"
        label="E-mail"
        [required]="true"
        placeholder="Seu e-mail aqui"
        [control]="getFormControl('email')"
      ></app-input-field>

      <div class="login__password-group">
        <app-input-field
          label="Senha"
          type="password"
          [name]="'password'"
          [required]="true"
          placeholder="Sua senha aqui"
          [control]="getFormControl('password')"
        ></app-input-field>
        <a href="#" class="login__forgot-password">
          Esqueceu a senha?
        </a>
      </div>

      <button type="submit" class="login__button">
        Entrar
      </button>
    </form>

    <ion-text class="login__register">
      É novo por aqui?
      <a href="#" class="login__register-link">
        Crie uma conta
      </a>
    </ion-text>
  </div>
</ion-content>
